.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
	transition: background-color .3s ease;

  &--main {
	width: 83px;
	height: 30px;
	border-radius: 20px;
	border: 1px solid $white;

	  @include tablet() {
		  width: 56px;
		  height: 20px;
	  }

	.icon {
	  width: 12px;
	  height: 8px;

	  &--rotate {
		transform: rotate(180deg);
	  }
	}
	&:hover {
		background-color: $orange;
	}
  }

  &--play {
	width: 109px;
	height: 109px;
	border-radius: 50%;
	background-color: $orange;
	transition: transform .3s ease;


	@include mobile() {
	  width: 54px;
	  height: 54px;

	  svg {
		width: 14px;
		height: 16px;
		margin-left: 0;
	  }
	}

	@include tablet() {
		width: 54px;
		height: 54px;

		svg {
			width: 12px;
			height: 14px;
		}
	}
  }

  &--black {
	width: 109px;
	height: 109px;
	border-radius: 50%;
	background-color: $black3;
	  &:hover {
		  background-color: $orange;
	  }
	.icon {
	  width: 14px;
	  height: 10px;

	  &--rotate {
		transform: rotate(180deg);
	  }
	}
	.text {
		margin: 0 10px
	}

	  @include mobile() {
		  width: 77px;
		  height: 77px;

		  .text {
			  font-size: 14px;
		  }
	  }
  }
}
