.slider-list {
  &__item {
	width: 110px;
	height: 70px;
	&:not(:last-child) {
	  margin-bottom: 20px;
	}

	  @include tablet() {
		  width: 74px;
		  height: 47px;
		  &:not(:last-child) {
			  margin-bottom: 13px;
		  }
	  }
  }
  &__link {
	display: inline-flex;
  }
  &__img {
	border-radius: 2px;
	width: 100%;
	max-height: 100%;
	object-fit: cover;
  }
}
