.slider-info {
  border-radius: 4px;
  padding: 10px 0;
  margin-top: -2px;
  background-color: $black3;

  @include mobile() {
	border-radius: 0;
  }

  @include tablet() {
	border-radius: 0;
	margin-top: -2px;
  }

  &__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 90%;
	margin: 0 auto;
	flex-wrap: wrap;
	padding: 20px 5px 15px 5px;
	border-top: 1px solid rgba($white, .6);
	border-bottom: 1px solid rgba($white, .6);

	@include tablet() {
	  width: 95%;
	  border-radius: 2px ;
	}
	@include mobile() {
	  padding: 10px 0 25px;
	}
  }

  &__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	width: 60%;
	transition: opacity .3s ease-in;

	&--hidden {
	  position: absolute;
	  clip: rect(0 0 0 0);
	  width: 1px;
	  height: 1px;
	  margin: -1px;
	  visibility: hidden;
	  opacity: 0;
	}

	@include mobile() {
	  width: 100%;
	}

	@include tablet() {
	  width: 70%;
	}
  }

  &__place {
	max-width: 400px;
	overflow: hidden;

	@include mobile() {
	  order: 3;
	  width: 75%;
	  padding-top: 20px;
	}

	@include tablet() {
	  max-width: 300px;
	}
  }

  &__year {
	@include tablet() {
	  padding-right: 15px;
	}
	@include mobile() {
	  order: 1;
	  width: 50%;
	  padding-top: 7px;
	  padding-bottom: 18px;
	  border-bottom: 1px solid rgba($white, .6);
	}
  }

  &__date {
	display: flex;
	justify-content: center;

	@include mobile() {
	  order: 2;
	  width: 50%;
	  justify-content: space-between;
	  align-items: center;
	  padding-bottom: 10px;
	  border-bottom: 1px solid rgba($white, .6);
	}

	.text-xlg {
	  margin-top: -15px;
	  margin-left: -20px;

	  @include mobile() {
		margin-top: 0;
		margin-left: 0;
	  }
	}

	.text-smm {
	  margin-top: 20px;
	  margin-left: -20px;

	  @include mobile() {
		margin-top: 0;
		margin-left: 0;
	  }
	}

	.line {
	  display: block;
	  width: 60px;
	  height: 1px;
	  margin-top: 12px;
	  margin-left: -20px;
	  background-color: $white;
	  transform: rotate(-75deg);

	  @include tablet() {
		width: 45px;
	  }
	}
  }

  &__btns {

  }

  &__more {
	@include mobile() {
	  order: 4;
	  width: 25%;
	  padding-top: 20px;
	  text-align: right;
	}
  }

  &__counts {
	display: flex;
	align-items: center;
	margin-left: 32px;

	.line {
	  display: block;
	  width: 23px;
	  height: 1px;
	  margin: 0 16px;
	  background-color: $white;
	}

	@include tablet() {
	  margin-left: 5px;

	  .line {
		width: 10px;
	  }
	}
  }
}
