.section-map {
  padding: 0 80px;
  margin-bottom: 160px;
  min-height: 500px;
  background-image: url('/img/sections/map_bg.png');
  background-position: 60% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}