.section-map {
  padding: 0 80px;
  margin-top: 140px;
  margin-bottom: 160px;
  min-height: 500px;
  background-image: url('/img/sections/map_bg.png');
  background-position: 60% 50%;
  background-size: contain;
  background-repeat: no-repeat;

  @include mobile() {
    padding: 0 15px;
    margin-top: 40px;
    margin-bottom: 0;
  }

  @include tablet() {
    padding: 0 40px;
    margin-top: 110px;
    margin-bottom: 150px;
  }

  &__title {
    @include mobile() {
      text-align: center;
    }
  }

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @include mobile() {
      margin-top: 40px;
    }
  }

  &__map {
    width: 450px;
    height: 450px;

    @include mobile() {
      width: 100%;
      height: 290px;
    }

    @include tablet() {
      width: 350px;
      height: 350px;
    }

    iframe {
      pointer-events: none;
    }
  }

  &__info {
    position: absolute;
    right: 0;
    top: 50%;
    width: 240px;
    margin-top: -10px;
    transform: translate(0, -50%);

    @include mobile() {
      position: relative;
      width: 100%;
      top: 0;
      margin-top: 50px;
    }
  }
}
