.section-map {
  padding: 0 80px;
  margin-bottom: 160px;
  min-height: 500px;
  background-image: url('/img/sections/map_bg.png');
  background-position: 60% 50%;
  background-size: contain;
  background-repeat: no-repeat;

  &__wrapper {
    display: flex;
    justify-content: center;
    position: relative;
  }

  &__map {
    width: 450px;
    height: 450px;
  }

  &__info {
    position: absolute;
    right: 0;
    top: 50%;
    width: 240px;
    margin-top: -10px;
    transform: translate(0, -50%);
  }
}
