.footer {
  padding: 30px 80px 32px;
  background-color: $green;

  @include mobile() {
    padding: 30px 15px 32px;
  }

  @include largeMobile() {
    padding: 30px 40px 32px;
  }

  &__top {
    width: 100px;
    text-align: center;
  }

  &__contact_list {
    display: flex;
    margin-top: 25px;
  }
  &__middle {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 0 42px 24px;

    @include mobile() {
      padding: 13px 0 22px 0;
    }

    @include largeMobile() {
      justify-content: space-between;
      padding: 33px 0 42px 0;
    }

    .title {
      font-weight: 700;
      letter-spacing: 2.4px;
    }
  }
  &__middle_left {

    padding-right: 140px;
    border-right: 1px solid $green2;

    @include mobile() {
      width: 100%;
      padding-right: 0;
      margin-top: 20px;
      border-right: none;
    }

    @include largeMobile() {
      width: 47%;
      padding-right: 15px;
    }
  }
  &__middle_right {
    padding-left: 137px;

    @include mobile() {
      width: 100%;
      padding-left: 0;
      margin-top: 20px;
    }

    @include largeMobile() {
      width: 49%;
      padding-left: 0;
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include mobile() {
      flex-direction: column-reverse;
      align-items: center;
    }
  }
  &__copyright {
    @include mobile() {
      margin-top: 15px;
    }
  }
}
