.footer {
  padding: 30px 80px 32px;
  background-color: $green;
  &__top {
    width: 100px;
    text-align: center;
  }

  &__contact_list {
    display: flex;
    margin-top: 25px;
  }
  &__middle {
    display: flex;
    justify-content: center;
    padding: 33px 0 42px 24px;

    .title {
      font-weight: 700;
      letter-spacing: 2.4px;
    }
  }
  &__middle_left {
    padding-right: 140px;
    border-right: 1px solid $green2;
  }
  &__middle_right {
    padding-left: 137px;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
  }
}
