.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 30px 81px;
  background-color: $grey;
  z-index: 1;

  &__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
  }

  &__social {
	margin-top: 6px;
  }
}
