.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 30px 81px;
  background-color: $grey;
  transition: transform .6s ease-in-out;
  transform: translate(0, 0);
  z-index: 10;

  &.hide  {
	transform: translate(0, -100%);
  }

  @include mobile() {
	padding: 20px 15px;
  }
  @include tablet() {
    padding: 30px 40px;
  }


  &__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
  }

  &__social {
	margin-top: 6px;
  }
}
