$base-font-size: 14px;
$base-font-family: 'SFPro';

$black: 	#313131;
$black2: 	#262626;
$black3: 	#151515;
$white: 	#ffffff;
$red:     #cc2eaa;
$green:   #0F3029;
$green2: 	#415350;
$grey:    #D4D4D4;
$orange: 	#FFBCA2;

