$base-font-size: 14px;
$base-font-family: 'SFPro';

$black: 	#313131;
$white: 	#ffffff;
$red:     #cc2eaa;
$green:   #0F3029;
$grey:    #CFCFCF;
$orange: 	#FFBCA2;

$smallMobileWidth: '320px';
$mobileWidth: '320px';
$tabletWidth: '768px';

