<header>
  <div>
    <a href="/">
      <img src="../img/svg/logo.svg" alt="Bandol">
    </a>
    <div>
      <a href="#">
        <span></span>
        <span></span>
      </a>
      <span>Карта вин</span>
    </div>
  </div>
  <div>
    <ul>
      <li>
        <a href="" target="_blank" rel="noopener">
          <span>Inst</span>
        </a>
      </li>
      <li>
        <a href="" target="_blank" rel="noopener">
          <span>Fb</span>
        </a>
      </li>
      <li>
        <a href="" target="_blank" rel="noopener">
          <span>Ytb</span>
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <span>ru</span>
      </li>
      <li>
        <span>-</span>
      </li>
      <li>
        <span>fr</span>
      </li>
    </ul>
  </div>
</header>