<footer class="footer">
  <div class="footer__top">
	<a href="#" class="logo">
	  <img src="../../img/svg/logo_orange.svg" alt="Bandol">
	</a>
	<p class="text text-xxs white uppercase">Кавист</p>
  </div>
  <div class="footer__middle">
	<div class="footer__middle_left">
	  <h2 class="title title-xxs white uppercase">Свяжитесь с нами</h2>
	  <div class="footer__contact_list">
		<ul class="contact-list contact-list--left">
		  <li class="contact-list__item">
			<p class="text text-smm white">Сервисы для Horeca</p>
		  </li>
		  <li class="contact-list__item">
			<p class="text text-smm white">Корпоративные клиенты</p>
		  </li>
		  <li class="contact-list__item">
			<p class="text text-smm white">Частные клиенты</p>
		  </li>
		</ul>
		<ul class="contact-list">
		  <li class="contact-list__item">
			<a href="mailto:foodandwine@bandol.com.ua" class="link link--white">
			  <span class="text text-smm">foodandwine@bandol.com.ua</span>
			</a>
		  </li>
		  <li class="contact-list__item">
			<a href="mailto:b2b@bandol.com.ua" class="link link--white">
			  <span class="text text-smm">b2b@bandol.com.ua</span>
			</a>
		  </li>
		  <li class="contact-list__item">
			<a href="mailto:sommelier@bandol.com.ua" class="link link--white">
			  <span class="text text-smm">sommelier@bandol.com.ua</span>
			</a>
		  </li>
		</ul>
	  </div>
	</div>
	<div class="footer__middle_right">
	  <h2 class="title title-xxs white uppercase">График работы</h2>
	  <div class="footer__contact_list">
		<ul class="contact-list contact-list--left-second">
		  <li class="contact-list__item">
			<p class="text text-smm white">Екатерининская площадь 6, Одесса </p>
		  </li>
		  <li class="contact-list__item">
			<a href="tel:+380933360249" class="link link--white link--none">
			  <span class="text text-smm">+38 (093) 336 02 49</span>
			</a>
		  </li>
		</ul>
		<ul class="contact-list">
		  <li class="contact-list__item">
		   <p class="text text-smm white">Ежедневно</p>
		  </li>
		  <li class="contact-list__item">
			<p class="title title-xs white">10:00-22:00</p>
		  </li>
		</ul>
	  </div>
	</div>
  </div>
  <div class="footer__bottom">
	<div class="footer__copyright">
	  <p class="text text-smm white-opacity">2021 © bandôl Все авторские права защищены.</p>
	</div>
	<div>
	  <a href="#" class="text text-smm link link--white">
		Instargam
	  </a>
	</div>
  </div>
</footer>

<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="../../js/main.js"></script>
