<header class="header" id="header">
  <div class="header__wrapper">
    <div class="header__left">
      <a href="/" class="logo">
        <img src="../img/svg/logo.svg" alt="Bandol" class="logo__img">
      </a>
      <p class="text text-xxs uppercase center">Кавист</p>
    </div>
    <div class="header__right">
      <ul class="social header__social">
        <li class="social__item">
          <a href="" target="_blank" rel="noopener" class="social__link">
            <span class="text text-smm">Instagram</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
