<section class="section section-posts">
  <div class="section-posts__title">
    <p class="text text-smm section-posts__more">
      <a href="#" class="link section-posts__more_link">Просмотреть все</a>
      <sup id="count-posts"></sup>
    </p>
    <div class="section-posts__title_right">
      <h2 class="title title-sm uppercase center">Избранные <br/>статьи</h2>
    </div>
  </div>
  <div class="container container__post">
    <div class="section-posts__posts">
      <div class="post post--offset">
        <a href="#" class="link link--black2 link--none post__title">
          <h3 class="title title-xs">Откройте для себя необычные места, где выращивают виноград</h3>
        </a>
        <p class="text text-xxs2 post__date">12.10.2021</p>
        <img src="../../img/posts/post_1.jpeg" alt="Пост 1" class="post__img">
        <p class="text text-xxs2 post__label">События</p>
      </div>
      <div class="post post--offset">
        <a href="#" class="link link--black2 link--none post__title">
          <h3 class="title title-xs">10 лучших сортов винограда, которые нужно знать</h3>
        </a>
        <p class="text text-xxs2 post__date">12.10.2021</p>
        <img src="../../img/posts/post_2.jpeg" alt="Пост 1" class="post__img">
        <p class="text text-xxs2 post__label">События</p>
      </div>
      <div class="post post--offset">
        <a href="#" class="link link--black2 link--none post__title">
          <h3 class="title title-xs">Наши праздничные блюда и вино</h3>
        </a>
        <p class="text text-xxs2 post__date">12.10.2021</p>
        <img src="../../img/posts/post_3.jpeg" alt="Пост 1" class="post__img">
        <p class="text text-xxs2 post__label">События</p>
      </div>
      <div class="post post--offset">
        <a href="#" class="link link--black2 link--none post__title">
          <h3 class="title title-xs">Что пить с этими 5 блюдами - афродизиаками?</h3>
        </a>
        <p class="text text-xxs2 post__date right">12.10.2021</p>
        <img src="../../img/posts/post_4.jpeg" alt="Пост 1" class="post__img">
        <p class="text text-xxs2 post__label">События</p>
      </div>
      <div class="post post--offset">
        <a href="#" class="link link--black2 link--none post__title">
          <h3 class="title title-xs">Откройте для себя необычные места, где выращивают виноград</h3>
        </a>
        <p class="text text-xxs2 post__date">12.10.2021</p>
        <img src="../../img/posts/post_1.jpeg" alt="Пост 1" class="post__img">
        <p class="text text-xxs2 post__label">События</p>
      </div>
      <div class="post post--offset">
        <a href="#" class="link link--black2 link--none post__title">
          <h3 class="title title-xs">10 лучших сортов винограда, которые нужно знать</h3>
        </a>
        <p class="text text-xxs2 post__date">12.10.2021</p>
        <img src="../../img/posts/post_2.jpeg" alt="Пост 1" class="post__img">
        <p class="text text-xxs2 post__label">События</p>
      </div>
      <div class="post post--offset">
        <a href="#" class="link link--black2 link--none post__title">
          <h3 class="title title-xs">Наши праздничные блюда и вино</h3>
        </a>
        <p class="text text-xxs2 post__date">12.10.2021</p>
        <img src="../../img/posts/post_3.jpeg" alt="Пост 1" class="post__img">
        <p class="text text-xxs2 post__label">События</p>
      </div>
      <div class="post post--offset">
        <a href="#" class="link link--black2 link--none post__title">
          <h3 class="title title-xs">Что пить с этими 5 блюдами - афродизиаками?</h3>
        </a>
        <p class="text text-xxs2 post__date right">12.10.2021</p>
        <img src="../../img/posts/post_4.jpeg" alt="Пост 1" class="post__img">
        <p class="text text-xxs2 post__label">События</p>
      </div>
      <div class="post post--offset">
        <a href="#" class="link link--black2 link--none post__title">
          <h3 class="title title-xs">Что пить с этими 5 блюдами - афродизиаками?</h3>
        </a>
        <p class="text text-xxs2 post__date right">12.10.2021</p>
        <img src="../../img/posts/post_4.jpeg" alt="Пост 1" class="post__img">
        <p class="text text-xxs2 post__label">События</p>
      </div>
    </div>
    <div class="section-posts__btn" id="posts_btn">
      <button class="button button--black">
        <span class="text text-lg uppercase white">Еще</span>
      </button>
    </div>
  </div>
</section>
