<section>
  <h2 class="title uppercase">Авторское артизанальское вино</h2>
  <div>
    <img src="" alt="">
    <div>
      <div>
        <span>01</span>
        <span>-------</span>
        <span>06</span>
      </div>
      <div>
        <button>
          <span>
            <
          </span>
        </button>
        <button>
          <span>
            >
          </span>
        </button>
      </div>
      <div>
        <p>Эксклюзивные вина из сердца Франции. Более 120 отобранных потомственных виноделов со всех уголков франции, отобраные нашими профессиональными сомелье</p>
      </div>
    </div>
  </div>
</section>
