<section class="plug">
  <div class="plug__area">
    <div class="plug__head">
      <div class="plug__head_logo">
        <div class="logo">
          <img src="img/svg/logo.svg" alt="Bandol" class="logo">
        </div>
        <p class="text text-xs uppercase">
          Кавист
        </p>
      </div>
    </div>
    <div class="plug__middle">
      <h1 class="title title-lg uppercase plug__title">Opening soon</h1>
      <p class="text text-sm plug__text">Екатерининская площадь, 6, Одесса</p>
    </div>
    <div class="plug__bottom desktop">
      <p class="text text-smm">2021 © bandôl Все авторские права защищены.</p>
    </div>
  </div>
</section>
