<section class="section section-phil">
  <h2 class="text text-xxs2 uppercase section-phil__title">Наша философия</h2>
  <ul class="phil-list">
    <li class="phil-list__item">
      <h3 class="title title-xlg uppercase white">От индустриализации к фермерству</h3>
    </li>
    <li  class="phil-list__item">
      <h3 class="title title-xlg uppercase white">От лаборатории к терруару</h3>
    </li>
    <li  class="phil-list__item">
      <h3 class="title title-xlg uppercase white">От стандартизации к уникальности</h3>
    </li>
  </ul>
</section>
