<section class="section section-slider">
  <div class="section-slider__poster">
    <img src="../../img/sections/slider_1.jpeg" alt="" class="section-slider__img">
    <div class="section-slider__move">
      <button class="button button--black">
        <span class="text text-smm uppercase white">Тяни</span>
      </button>
    </div>
    <ul class="slider-list section-slider__list">
      <li class="slider-list__item">
        <a href="#" class="slider-list__link">
          <img src="../../img/sections/slider_2_mini.jpeg" alt="Слайдер 2" class="slider-list__img">
        </a>
      </li>
      <li class="slider-list__item">
        <a href="#" class="slider-list__link">
          <img src="../../img/sections/slider_3_mini.jpeg" alt="Слайдер 2" class="slider-list__img">
        </a>
      </li>
      <li class="slider-list__item">
        <a href="#" class="slider-list__link">
          <img src="../../img/sections/slider_4_mini.jpeg" alt="Слайдер 2" class="slider-list__img">
        </a>
      </li>
      <li class="slider-list__item">
        <a href="#" class="slider-list__link">
          <img src="../../img/sections/slider_5_mini.jpeg" alt="Слайдер 2" class="slider-list__img">
        </a>
      </li>
      <li class="slider-list__item">
        <a href="#" class="slider-list__link">
          <img src="../../img/sections/slider_6_mini.jpeg" alt="Слайдер 2" class="slider-list__img">
        </a>
      </li>
    </ul>
    <div class="slider-info section-slider__info">
      <div class="slider-info__wrapper">
        <div>
          <p class="white">bandôl - Ваш кавист</p>
          <p class="white">Екатерининская площадь, 6, Одесса</p>
        </div>
        <div>
          <p class="white">2021</p>
        </div>
        <div>
          <p class="white"></p>25 / октября
        </div>
        <a href="#" class="link white">
          Подробнее
        </a>
        <div>
          <button>
            <span><</span>
          </button>
          <button>
            <span>
              >
            </span>
          </button>
        </div>
        <div>
          <span class="white">01</span>
          <span class="white">---</span>
          <span class="white">06</span>
        </div>
      </div>
    </div>
  </div>
</section>
