<section class="section section-slider">
  <div class="section-slider__poster">
    <img src="../../img/sections/slider_1.jpeg" alt="" class="section-slider__img">
    <div class="section-slider__move">
      <button class="button button--black">
        <span>
          <svg viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M0 6.04959L5.36932 11.3142C5.75781 11.6951 6.37968 11.6951 6.76817 11.3142C7.16733 10.9228 7.16768 10.2801 6.76895 9.8883L2.86242 6.04959L6.76895 2.21087C7.16768 1.81906 7.16733 1.17634 6.76817 0.784964C6.37968 0.404047 5.75781 0.404047 5.36932 0.784964L0 6.04959Z" fill="white" fill-opacity="0.7"/>
            </svg>
        </span>
        <span class="text text-lg uppercase white">Тяни</span>
        <span>
          <svg viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon icon--rotate">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M0 6.04959L5.36932 11.3142C5.75781 11.6951 6.37968 11.6951 6.76817 11.3142C7.16733 10.9228 7.16768 10.2801 6.76895 9.8883L2.86242 6.04959L6.76895 2.21087C7.16768 1.81906 7.16733 1.17634 6.76817 0.784964C6.37968 0.404047 5.75781 0.404047 5.36932 0.784964L0 6.04959Z" fill="white" fill-opacity="0.7"/>
            </svg>
        </span>
      </button>
    </div>
    <ul class="slider-list section-slider__list">
      <li class="slider-list__item">
        <a href="#" class="slider-list__link">
          <img src="../../img/sections/slider_2_mini.jpg" alt="Слайдер 2" class="slider-list__img" width="110" height="70">
        </a>
      </li>
      <li class="slider-list__item">
        <a href="#" class="slider-list__link">
          <img src="../../img/sections/slider_3_mini.jpg" alt="Слайдер 2" class="slider-list__img"  width="110" height="70">
        </a>
      </li>
      <li class="slider-list__item">
        <a href="#" class="slider-list__link">
          <img src="../../img/sections/slider_4_mini.jpg" alt="Слайдер 2" class="slider-list__img"  width="110" height="70">
        </a>
      </li>
      <li class="slider-list__item">
        <a href="#" class="slider-list__link">
          <img src="../../img/sections/slider_5_mini.jpg" alt="Слайдер 2" class="slider-list__img"  width="110" height="70">
        </a>
      </li>
      <li class="slider-list__item">
        <a href="#" class="slider-list__link">
          <img src="../../img/sections/slider_6_mini.jpg" alt="Слайдер 2" class="slider-list__img"  width="110" height="70">
        </a>
      </li>
    </ul>
    <div class="slider-info section-slider__info">
      <div class="slider-info__mobile">
        <div>
          <p class="text text-sm14 white">2021</p>
        </div>
        <div>
          <p class="text text-xlg white">25</p>
        </div>
        <div>
          <p class="text text-sm14 white">Октября</p>
        </div>
      </div>
      <div class="slider-info__wrapper">
        <div class="slider-info__place">
          <p class="text text-xs white">bandôl - Ваш кавист</p>
          <p class="text text-xs white">Екатерининская площадь, 6, Одесса</p>
        </div>
        <div class="desktop">
          <p class="text white">2021</p>
        </div>
        <div class="slider-info__date desktop">
          <span class="text text-xlg white">25</span>
          <span class="line"></span>
          <span class="text text-smm white">Октября</span>
        </div>
        <a href="#" class="link white">
          <span class="text text-smm">Подробнее</span>
        </a>
        <div class="slider-info__btns desktop">
          <button class="button button--main">
            <svg viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M0 6.04959L5.36932 11.3142C5.75781 11.6951 6.37968 11.6951 6.76817 11.3142C7.16733 10.9228 7.16768 10.2801 6.76895 9.8883L2.86242 6.04959L6.76895 2.21087C7.16768 1.81906 7.16733 1.17634 6.76817 0.784964C6.37968 0.404047 5.75781 0.404047 5.36932 0.784964L0 6.04959Z" fill="white" fill-opacity="0.7"/>
            </svg>
          </button>
          <button class="button button--main">
            <svg viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon icon--rotate">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M0 6.04959L5.36932 11.3142C5.75781 11.6951 6.37968 11.6951 6.76817 11.3142C7.16733 10.9228 7.16768 10.2801 6.76895 9.8883L2.86242 6.04959L6.76895 2.21087C7.16768 1.81906 7.16733 1.17634 6.76817 0.784964C6.37968 0.404047 5.75781 0.404047 5.36932 0.784964L0 6.04959Z" fill="white" fill-opacity="0.7"/>
            </svg>
          </button>
        </div>
        <div class="slider-info__counts desktop">
          <span class="text text-sm14 white">01</span>
          <span class="line"></span>
          <span class="text text-sm14 white">06</span>
        </div>
      </div>
    </div>
  </div>
</section>
