<section class="section section-video">
  <div class="section-video__title">
    <h2 class="title title-md uppercase">Витрина французского виноделия</h2>
  </div>
  <div class="section-video__preview">
    <video class="section-video__preview_img" id="video" poster="/img/sections/video_preview.jpeg">
      <source src="http://thenewcode.com/assets/videos/glacier.mp4" type="video/mp4">
    </video>
    <button class="button button--play section-video__play" id="play">
      <svg width="26" height="30" viewBox="0 0 26 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M6.0477 1.48553L23.3579 12.0343C25.5474 13.3667 25.5474 16.6333 23.3579 17.9657L6.0477 28.5145C3.81815 29.8744 1 28.2158 1 25.5465V4.45352C1 1.78417 3.81815 0.125578 6.0477 1.48553Z" fill="#151515" stroke="#313131" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </button>
  </div>
  <div class="section-video__text">
    <p class="text text-xs">Авторские вина из сердца Франции. Более 300 вин, отобранные нашим профессиональным сомелье, у эксклюзивных виноделов со всех уголков Франции</p>
  </div>
  <div class="section-video__scroll">
    <p class="text text-xxs2 uppercase">Скроль</p>
  </div>
</section>
