<section class="section section-phil">
  <h2 class="text text-xxs2 uppercase section-phil__title">Наша философия</h2>
  <ul class="phil-list">
    <li class="phil-list__item">
      <h3 class="title title-xlg uppercase white"><span class="transparent">От индустриализации</span> к фермерству</h3>
      <img src="img/sections/phil_decor_1.png" alt="К фермерству" class="phil-list__decor phil-list__decor--1">
    </li>
    <li  class="phil-list__item">
      <h3 class="title title-xlg uppercase white"><span class="transparent">От лаборатории к</span> терруару</h3>
      <img src="img/sections/phil_decor_2.png" alt="К терруару" class="phil-list__decor phil-list__decor--2">
    </li>
    <li  class="phil-list__item">
      <h3 class="title title-xlg uppercase white"><span class="transparent">От стандартизации</span> к уникальности</h3>
      <img src="img/sections/phil_decor_3.png" alt="К уникальности" class="phil-list__decor phil-list__decor--3">
    </li>
  </ul>
  <div class="container container__phil">
    <div class="phil-desk">
    <div class="phil-desk__item">
      <div class="phil-desk__item--left">
        <p class="text text-xxs uppercase">Натуральнуя связь с природой</p>
      </div>
      <div class="phil-desk__item--right">
        <p class="text text-xs white">Идея создать bandôl возникла из истинного желания представить другое лицо французского виноделия в Украине, предложить те вина, которые любят французы, теми,
          из которых состоят винные карты знаменитых мишленовских ресторанов.</p>
      </div>
    </div>
    <div class="phil-desk__item">
      <div class="phil-desk__item--left">
        <p class="text text-xxs uppercase">Иное лицо французского виноделия</p>
      </div>
      <div class="phil-desk__item--right">
        <p class="text text-xs white">Не следуя тенденции стандартизации вин, главное для bandôl — это сохранить природную и натуральную связь между каждым видом вина, терруаром и винтажом, а также выразить всю работу, которая придает профессии винодела мастерство и благородство.</p>
      </div>
    </div>
  </div>
  </div>
</section>
